//   input:placeholder-shown+ label {
//     left: 6px;
//     top: -6px;
//   }

.save-button {
  margin-left: -145px;
  margin-top: 10px;
}

li a {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 114.3%;
  letter-spacing: 0.003em;
  color: #96968c;
  cursor: pointer;
}

li a.active {
  font-weight: bold;
  color: #000000;
}

.sideNav {
  margin-top: 45px;
}

.disabled {
  background-color: #ffbb80;
}

.jsonTool-border {
  border-radius: 10px !important;
  min-height: 551px;
  min-width: 400px;
  margin-bottom: 10px;
}

.jsonDiv {
  width: 100%; 
  height: 100%
}

iframe {
  flex-grow: 1; 
  border: none; 
  margin: 0; 
  padding: 0
}
