<div class="d-flex">
    <div *ngIf="activeEndpoint" class="ml-4 mr-4 sideNav">
      <i class="bi bi-sliders mr-2"></i>APIs
      <ul class="nav flex-column" *ngFor="let ep of endpointData; let i = index">
        <li class="nav-item d-flex">
          <a
            [ngClass]="
              activeEndpoint.endpointname === ep.endpointname
                ? 'nav-link active'
                : 'nav-link'
            "
            (click)="assignEndpointToForm(i)"
            >{{ ep.endpointname }}</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div>
        <b>{{
          activeEndpoint?.endpointname
            ? activeEndpoint.endpointname
            : "Endpoint not defined"
        }}</b>
        <div *ngIf="activeEndpoint">
          {{
            activeEndpoint?.description
              ? activeEndpoint.description
              : "Description not defined"
          }}
        </div>
      </div>
      <div *ngIf="activeEndpoint" class="d-flex flex-wrap">
        <div class="d-flex flex-column container-1 mr-4">
          <form [formGroup]="partnerEpForm" (ngSubmit)="saveMappings()">
            <div class="box-1">
              <div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder=" "
                />
                <label>Name</label>
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="url"
                  placeholder=" "
                />
                <label>URL</label>
              </div>
            </div>
            <div
              class="box-1"
              *ngIf="
                activeEndpoint &&
                activeEndpoint.request &&
                activeEndpoint.request.length > 0
              "
            >
              <strong>Request</strong>
              <div *ngFor="let key of activeEndpoint.request; let i = index">
                <input
                  type="text"
                  class="form-control"
                  formControlName="{{ key }}"
                  id="{{ key }}"
                  name="{{ key }}"
                  placeholder="{{ key }}"
                />
                <label>{{ key }}</label>
              </div>
            </div>
            <div
              class="box-1"
              *ngIf="
                activeEndpoint &&
                activeEndpoint.response &&
                activeEndpoint.response.length > 0
              "
            >
              <strong>Response</strong>
              <div *ngFor="let key of activeEndpoint.response; let i = index">
                <input
                  type="text"
                  class="form-control"
                  formControlName="{{ key }}"
                  id="{{ key }}"
                  name="{{ key }}"
                  placeholder="{{ key }}"
                />
                <label>{{ key }}</label>
              </div>
            </div>
            <div class="mb-4">
              <button class="button" type="submit">SAVE ENDPOINT MAPPING</button>
            </div>
          </form>
        </div>
  
        <div class="card jsonTool-border">
          <div class="card-body">
            <div class="d-flex flex-column jsonDiv">
              <strong>JSON tool</strong>
              <iframe
                src="http://127.0.0.1:8887/"
                title="description"
              ></iframe>
            </div>
            <!-- <textarea
                  class="form-control"
                  rows="3"
                  placeholder="Default input"
                ></textarea> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  