.loginSignupForm {
    /* Forms */
    /* Auto Layout */
    font-family: Graphik;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-bottom: 10px;
    position: absolute;
    width: 384px;
    min-height: 431px;
    left: calc(50% - 384px/2);
    top: calc(50% - 431px/2 - 2.5px);

    /* Neutral / 000 */

    background: #FFFFFF;
    /* Neutral / 200 */

    border: 1px solid #E6E6DC;
    box-sizing: border-box;
    border-radius: 12px;
}

// .card {
//     background-color: #e8e8e8;
//     box-shadow: 0 0 0 2px lightslategray , 0 0 5px 5px lightslategray;
// }

  .nav li {
    margin: 5px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    text-align: center;
    width: 45%;
    color: #7E7E72;
  }

  a {
      text-decoration: none;
      color:black;
      cursor: pointer;
  }

  .nav li.active {
    border-bottom: 3px solid black;
    
    color:black;
  }

  h1 {
    text-align: center;
    color: black;
    font-weight: 400;
    margin: 0px;
    font-size: 25px;
  }

  h3 {
    text-align: center;
    width: inherit;
    font-weight: 200;
    margin: 0px;
}

input,textarea {
			margin-top:10px;
            font-size: 22px;
            display: block;
            width: 100%;
            height: 100%;
            /* background: none; */
            background-image: none;
            // border: 2px solid black;
            color: black;
            /* border-radius: 10px;*/
            transition: border-color .25s ease, box-shadow .25s ease;
            border: 1px solid rgba(0, 0, 0, 0.38);
            box-sizing: border-box;
            border-radius: 8px;
        }

        .label-field {
          position: relative;
          margin-top: 30px;
      }

      .button {
        width:100%;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 0;
        outline: none;
        // border-radius: 0;
        padding: 12px 0;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .1em;
        // background: black;
        color: #ffffff;
        transition: all 0.5s ease;
        -webkit-appearance: none;

        font-family: Roboto;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */

        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;

        background: #FF7800;
        border-radius: 4px;
    }

    .feedback {
      color:red;  
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      color: red;
    }

    .disabled {
      background: gray;
    }

    .heading {
      /* Partner Handler */
      position: static;
      bottom: 38.89%;
      font-style: normal;
      font-weight: 500;
      font-size: 29px;
      line-height: 114.3%;
      /* or 33px */

      letter-spacing: -0.0031em;
      color: #000000;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 3px 0px;
    }

    /* by Accenture Technology */

.line {
 
  // font-weight: 300;
  font-size: 12.8px;
  line-height: 142%;
  letter-spacing: 0.0056em;
  color: #B0B0A5;
  margin: 4px 0px;
}   

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  font-size: 14px;
}

.background {
  
  // position: relative;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  position: fixed;
}

.adminHeader {
  font-size: 24px;
  padding-left: 60px;
  padding-top: 10px;
}

.partnerBg {
  background: url(../../../Images/Gradient4_clean.jpg) no-repeat;
}

.adminBg {
  background: url(../../../Images/Gradient2_clean.jpg) no-repeat;
}

.adminButton {
  background-color: #460073;
}

.loginLink {
  color: #FF7800;
}

.nav {
  border: none; 
  margin:10px;
}