<div [ngClass]="hideAdminLogin? 'background partnerBg': 'background adminBg'">
    <form class="loginSignupForm" *ngIf="!hidePartnerLogin">
    
        <div>
            <div class="heading">
                Partner <b>Handler</b> <br>
                <span class="line">by <b class="black">Accenture</b></span>
            </div>
            <ul class="nav nav-tabs">
                <li [ngClass]="(tabActive == 'logintab')?'tab active':'tab'">
                    <a id="logintab"  (click)="toggleLoginSignUp($event)">Login</a>
                </li>
                <li [ngClass]="(tabActive == 'signuptab')?'tab active':'tab'">
                    <a id="signuptab"  (click)="toggleLoginSignUp($event)">Register</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="login" *ngIf="tabActive === 'logintab'">
                    <!-- <h1 >Welcome back!</h1> -->
                    <h3>{{loginApiMessage}}</h3>
                    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="label-field">
                            <input type="email" name="email" formControlName="email" class="form-control" id="loginEmail" placeholder="Email" required autocomplete="off" />
                        </div>
                        <div *ngIf="l.email.invalid && l.email.touched" class="feedback">
                            <div *ngIf="l.email.errors.required">Email is required</div>
                            <div *ngIf="l.email.errors.email">Email is not valid</div>
                        </div>
                        <div class="label-field">
                            <input type="password" name="password" formControlName="password" class="form-control" id="loginPass" placeholder="Password" required autocomplete="off" />
                        </div>
                        <div *ngIf="l.password.invalid && l.password.touched" class="feedback">
                            <div *ngIf="l.password.errors.required">Password is required</div>
                        </div>
                        <button id="loginButton" [ngClass]="!loginForm.valid? 'button disabled':'button'" [disabled]="!loginForm.valid">Log In</button>
                    </form>
                </div>
                <div id="signup"  *ngIf="tabActive === 'signuptab'">
                    <!-- <h1>Create your account</h1> -->
                    <h3 class="success">{{signUpApiMessage}}</h3>
                    <h3 class="error">{{signUpApiError}}</h3>
                    <form id="signupForm" [formGroup]="signupForm" (ngSubmit)="onSignUp($event)">
                        <div class="label-field">
                            <input type="email" name="email" formControlName="email" class="form-control" id="signupEmail" placeholder="Email" required autocomplete="off" />
                        </div>
                        <div *ngIf="s.email.invalid && s.email.touched" class="feedback">
                            <div *ngIf="s.email.errors.required">Email is required</div>
                            <div *ngIf="s.email.errors.email">Email is not valid</div>
                        </div>
                        <div class="label-field">
                            <input type="password" name="password" formControlName="password" class="form-control" id="signupPass" placeholder="Password" required autocomplete="off" />
                        </div>
                        <div *ngIf="s.password.invalid && s.password.touched" class="feedback">
                            <div *ngIf="s.password.errors.required">Password is required</div>
                        </div>
                        <button id="signUpButton" type="submit" [ngClass]="!signupForm.valid? 'button disabled':'button'" [disabled]="!signupForm.valid">Register</button>
                    </form>
                </div>
            </div>
    
        </div>
        <a (click)="adminLogin()" class="loginLink">Login as Admin</a>
    </form>
    
    <form class="loginSignupForm" *ngIf="!hideAdminLogin">
        
        <div>
            <div class="heading">
                Partner <b>Handler</b> <br>
                <span class="line">by <b class="black;">Accenture</b></span>
            </div>
            <div class="adminHeader">
                <b>Admin Login</b>
            </div>
            
                    
                
            <div class="tab-content">
                <div id="login">
                    <!-- <h1 >Welcome back!</h1> -->
                    <h3>{{loginApiMessage}}</h3>
                    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="label-field">
                            <input type="email" name="email" formControlName="email" class="form-control" id="loginEmail" placeholder="Email" required autocomplete="off" />
                        </div>
                        <div *ngIf="l.email.invalid && l.email.touched" class="feedback">
                            <div *ngIf="l.email.errors.required">Email is required</div>
                            <div *ngIf="l.email.errors.email">Email is not valid</div>
                        </div>
                        <div class="label-field">
                            <input type="password" name="password" formControlName="password" class="form-control" id="loginPass" placeholder="Password" required autocomplete="off" />
                        </div>
                        <div *ngIf="l.password.invalid && l.password.touched" class="feedback">
                            <div *ngIf="l.password.errors.required">Password is required</div>
                        </div>
                        <button id="loginButton" [ngClass]="!loginForm.valid? 'button adminButton disabled':'button adminButton'" [disabled]="!loginForm.valid">Log In</button>
                    </form>
                </div>
            </div>
    
        </div>
        <a (click)="partnerLogin()" class="loginLink">Login as Partner</a>
    </form>
</div>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p class="white">Please Wait. </p>  
</ngx-spinner> 

