<div *ngIf="!hideLogin">
  <app-login></app-login>
</div>
<div *ngIf="hideLogin" class="d-flex position-relative">
  <div>
    <app-navbar (logout)="logout($event)" ></app-navbar>
  </div>

  <div class="container main-content">
    <div class="d-flex flex-column">
      <div class="header">
        {{ headerString }}
      </div>
      <div class="pages">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
