/* .app-header {
    position: fixed;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f4;
    // background-image: linear-gradient(to right, white , purple);
    color:black;
    width: 100%;
    z-index: 10;
    font: 400 34px/40px Roboto,Helvetica Neue,sans-serif;
}
 */

 .main-content {
    width: 100%;
    margin-left: 270px;
    overflow-x: auto;
  }
  
  .header {
    font-weight: bold;
    font-size: 31.25px;
    line-height: 114.3%;
    letter-spacing: -0.0031em;
    margin-top: 20px;
  }
  
  .pages {
    margin-top: 30px;
  }
  

  @media (max-width: 576px) {
    .main-content {
      margin-left: 50px;
    }
  }