.container-1 div {
    border: 1px #ccc solid;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: auto;
  }
  .btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
  }
  
  .custom-color {
    color: #ff7800;
  }
  .inline-blocks {
    display: flex;
    justify-content: space-between;
  }
  
  .title-font {
    font-size: x-large;
  }

  .btn-outline-dark {
    border: 1px solid #484842;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
  }

  form {
      margin-top: 20px;
  }

  .sideNavBtn {
      margin-top: 45px;
  }

  li a {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 114.3%;
    letter-spacing: 0.003em;
    color: #96968C;
    cursor: pointer;
  }

  li a.active{
    font-weight: bold;
    color: #000000;
  }

  .largeIcon {
      font-size: x-large;
  }

//   .button {
//     width:100%;
//     margin-top: 20px;
//     padding: 12px 0;
//     font-weight: 500;
//     color: #ffffff;
//     transition: all 0.5s ease;
//     -webkit-appearance: none;

//     font-family: Roboto;
//     font-style: normal;
//     font-size: 16px;
//     line-height: 16px;
//     /* identical to box height, or 100% */

//     align-items: center;
//     text-align: center;
//     letter-spacing: 1.25px;
//     text-transform: uppercase;

//     background: #FF7800;
//     border-radius: 4px;
//     border: none;
// }

.disabled {
    background-color: #FFBB80;
}

.bi-trash {
    margin-top:5px;
}

.large {
  font-size:xx-large;
}


  