<div class="d-flex flex-row">

    <div class="d-flex flex-column">

        <!-- page side navbar start-->
        <div class="d-flex">
            <div class="d-flex flex-column ml-4 mr-5">
                <button type="button" class="btn btn-outline-dark p-1 sideNavBtn" (click)="addNew()">
                    <i class="bi bi-plus pr-1"></i>Add New
                </button>
                <div class="mt-1">
                    <i class="bi bi-sliders pr-2"></i>
                    <span class="large">APIs</span>
                    <ul class="nav flex-column" *ngFor="let ep of endpointData; let i = index">
                        <li class="nav-item d-flex" >
                            <a [ngClass]="activeEndpoint === ep.endpointname ? 'nav-link active' : 'nav-link'" (click)="getEndpoint(i)">{{ep.endpointname}}</a>
                            <i class="bi bi-trash" (click)="deleteEndpoint(i)"></i>
                        </li>
                    </ul>
                </div>

            </div>
            <!--page side navbar end-->

            <!--Form start-->
            <div class="d-flex flex-column">
                <div>
                    <b>{{epForm.get('endpointname').value? epForm.get('endpointname').value : 'API EndPoint'}}</b>
                </div>
                <form [formGroup]="epForm" (ngSubmit)="onSubmit()">
                    <div class="card mb-4">
                        <div class="card-body">
                            <input class="form-control mb-3" type="text" placeholder="Name" formControlName="endpointname" />
                            <textarea class="form-control"  placeholder="Description"
                                formControlName="description"></textarea>
                        </div>
                    </div>

                    <div *ngIf="requestItem?.length > 0" class="card mb-4">
                        <div class="card-body">
                            <b class="mp-2">Request</b>
                            <!-- Request form start-->
                            <div formArrayName="requestItem" *ngFor="let item of requestItem.controls; let i = index">
                                <div class="inline-blocks">
                                    <input class="form-control mb-2" [formControlName]="i" placeholder="Label" />
                                    <span (click)="deleteRequest(i)"><i class="bi bi-dash-circle pl-2"></i></span>
                                </div>
                            </div>

                            <!--Request form end-->
                        </div>
                    </div>

                    <div *ngIf="responseItem?.length > 0" class="card mb-4">
                        <div class="card-body">
                            <b class="mp-2">Response</b>
                            <!-- Response form start-->
                            <div formArrayName="responseItem" *ngFor="
                    let item of this.epForm.get('responseItem').controls;
                    let i = index
                  ">
                                <div class="inline-blocks">
                                    <input class="form-control mb-2" [formControlName]="i" placeholder="Label" />
                                    <span (click)="deleteResponse(i)"><i class="bi bi-dash-circle pl-2"></i></span>
                                </div>
                            </div>

                            <!--Response form end-->
                        </div>
                    </div>

                    <div class="pl-4 mb-4">
                        <!--Request checkbox start-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioType" id="radioRequest"
                                formControlName="radioType" value="request" />
                            <label class="form-check-label" for="radioRequest"><b>REQUEST</b></label>
                        </div>
                        <!--Request checkbox end-->

                        <!--Response checkbox start-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioType" id="radioResponse"
                                value="response" formControlName="radioType" />
                            <label class="form-check-label" for="radioResponse"><b>RESPONSE</b></label>
                        </div>
                        <!--Response checkbox end-->

                        <!--Add button start-->
                        <span (click)="addItem()"><i class="bi bi-plus-circle-fill custom-color largeIcon"></i></span>
                        <!--Add button end-->
                    </div>

                    <div class="align-self-center">
                        <button class="button" type="submit"  [ngClass]="!epForm.valid? 'button disabled':'button'"
                            [disabled]="!epForm.valid">{{activeEndpoint ? 'UPDATE ENDPOINT' : 'SAVE ENDPOINT'}}</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- {{ epForm.value | json }} -->
    </div>
</div>