<div class="sidebar">
  <div class="header">
    Partner <b>Handler</b> <br />
    <span class="line">by <b class="black">Accenture</b></span>
  </div>
  <ul>
    <li>
      <a (click)="navigatetoEndpoint()"
        ><i class="bi bi-hdd-network"></i><span>Endpoint Mappings</span></a
      >
    </li>
    <li>
      <a (click)="navigatetoProfile()"><i class="bi bi-person"></i><span>Profile</span></a>
    </li>
  </ul>

  <div class="navbar-footer">
    <ul>
      <li>
        <a (click)="supportClicked()"><i class="bi bi-question-circle"></i><span>Support</span></a>
      </li>
      <li>
        <a (click)="logoutClicked()"><i class="bi bi-power"></i><span>Sign Out</span></a>
      </li>
      <li>
        <div class="footer">
          Created with
          <i class="bi bi-heart"></i>
          <br />
          <span class="line-footer">
            by <b class="black">Accenture</b></span>
            <br />
          Product & Platform Engineering Services
        </div>
      </li>
    </ul>
  </div>
</div>
<iframe *ngIf="showSupportDiv" class="chatbot" src="https://d3bn7kbfjxh4et.cloudfront.net/index.html?id=1" title="description">
  Chatbox div
</iframe>
