* {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}

.sidebar {
  width: 270px;
  height: 100%;
  border-right: 1px solid lightgray;
  position: fixed;
}

.sidebar ul li {
  padding: 10px;
  margin-left: -10%;
}

.sidebar ul li a {
  transition: 0.6s;
  padding-bottom: 15px;
  padding-top: 15px;

  border-bottom: 1px solid white;
  font-weight: 300;
  color: black;
  transition: 0.3s;
  margin-left: 5px;
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  line-height: 114.3%;
  letter-spacing: 0.003em;
  text-transform: capitalize;
  cursor: pointer;
}
.sidebar ul li a .bi {
  /*  width: 25px; */

  padding-right: 10px;
  //margin-left: 20px;
}

.sidebar .navbar-footer {
  position: absolute;
  bottom: 0;
  display: flex;
}

.sidebar .navbar-footer a {
  transition: 0.6s;
  padding-bottom: 15px;
  padding-top: 15px;

  border-bottom: 1px solid white;
  font-weight: 300;
  color: black;
  transition: 0.3s;
  //margin-left: 5px;
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  line-height: 114.3%;
  letter-spacing: 0.003em;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar .navbar-footer ul li a .bi {
  padding-right: 10px;
  //margin-left: 20px;
}
.header {
  /* Partner Handler */
  position: static;
  bottom: 38.89%;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 114.3%;
  font-family: Graphik;
  /* or 33px */

  letter-spacing: -0.0031em;
  color: #000000;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 15px;
  margin-left: 20px;
  padding-bottom: 10px;
}
.line {
  // font-weight: 300;
  font-size: 12.8px;
  line-height: 142%;
  letter-spacing: 0.0056em;
  color: #b0b0a5;
}

.footer {
  margin-left: 10px;
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 142%;
  /* identical to box height, or 15px */

  letter-spacing: 0.0056em;

  /* Neutral / 04 */

  color: #000000;
}


@media (max-width: 576px) {
  .sidebar {
    width: 50px;
      .header {
        display: none;
      }
      .footer {
        display: none;
      }
      // .bottomleft {
      //   position: sticky;
      //   margin-block-start: 22rem;
      // }
      a {
        text-align: center;
      }
      i {
        margin-left: 0px;
        padding-left: 10px;
      }
      ul {
        padding-left:0px;
      }
      span {
        display: none;
      }
    
  }
}

// .chatbot-style-initial{
//   position: fixed;
//   bottom: 0px;
//   right: 0px;
//   height: 400px;
// }

 

.chatbot {
  // width: 190px;
  // height: 40px;
  // transition: width 2s, height 4s;
  position: fixed;
  bottom: 0;
  right: 0;

  width: 400px;
  height: 400px;
}

 

.chatbot:hover {
  width: 400px;
  height: 400px;
}

.line-footer {
  margin-left: 0px;
  font-size: 12.8px;
  line-height: 142%;
  letter-spacing: 0.0056em;
  color: #b0b0a5;
}

.bi-heart {
  color: red; 
  margin-left: 0px
}
