/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container-1 div {
    padding: 5px;
    border-radius: 10px;
  }
  
  .box-1 {
    margin: 0.4em;
    border: 1px #ccc solid;
    width: 260px;
  }

  .box-1 div {
    position: relative;
    height: 25px;
    margin: 15px 5px 25px 5px;
    border: none;
  }

  .box-1 strong {
    padding: 0 0.25rem;
  }
  
  .box-1 input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: #ffffff;
    /* Border/Inactive */
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    border-radius: 8px;
    transition: .3s;
  }

  .box-1 input::placeholder {
    color: transparent;
  }
  .box-1 label {
    padding: 0 0.25rem;
    background-color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.0015em;
    /* Text/Inactive */
    color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: .3s;
    transform-origin: 0 0;
    transform: translateY(-0.3em);
  }

  .box-1 input:focus + label, 
  .box-1 input:not(:placeholder-shown) + label{
    transform-origin: 0 0;
    transform: translateY(-1.60em);
    font-size: 12px;
    // left: 6px;
    // top: -6px;
    // z-index: 10;
}
  

.button {
    width:100%;
    margin-top: 20px;
    padding: 12px 0;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;

    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    background: #FF7800;
    border-radius: 4px;
    border: none;
}

.black {
  color: black;
}

.white {
  color: white;
}

.success {
  color: green;
}

.error {
  color: red;
}