<!-- <div class="container content">
    <form >
        <div class="row">
            <div class="header col-md-12">
                Partner Profile
            </div>
            
            <ng-container *ngFor="let control of fields; let i = index">
                <div class="box-1" [ngSwitch]="control.type">
                    <ng-container *ngSwitchCase="'text'">
                            <input type="text" class="form-control" formControlName="{{control.label}}" placeholder=" ">
                            <label>{{control.label}}</label>
                        <input type="text" id="{{control.label}}" class="controls" placeholder="{{control.label}}">
                    </ng-container>
                    <ng-container *ngSwitchCase="'textarea'">
                        <textarea id="{{control.label}}" class="controls" placeholder="{{control.label}}"></textarea>
                    </ng-container>
                    <ng-container *ngSwitchCase="'number'">
                        <input type="number" id="{{control.label}}" class="controls" placeholder="{{control.label}}">
                    </ng-container>
                    <ng-container *ngSwitchCase="'dropdown'">
                        <select  id="{{control.label}}" class="controls" placeholder="{{control.label}}">
                            <option *ngFor="let option of control.options" value= {{option}}>
                              {{option}}
                            </option>
                        </select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'url'">
                        <input type="url" id="{{control.label}}" class="controls" placeholder="{{control.label}}">
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <input type="text" id="{{control.label}}" class="controls" placeholder="{{control.label}}">
                    </ng-container>
                </div>
            </ng-container>
            
            
            <div class="col-md-12">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches">
                    <label class="custom-control-label" for="customSwitches">Enable Profile</label>
                </div>
            </div>
            <button type="submit"  id="partnerSubmit" class="button">Save Profile</button> -->
<!-- [ngClass]="profileInfoForm.valid ? 'button' : 'button disabled'"  -->

<!-- [disabled]="!profileInfoForm.valid" -->

<!-- </div>
    </form>
    
</div> -->

<div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <div>
          <div class="heading">
            <b>Partner Profile</b>
          </div>
          <div class="d-flex">
            <div class="d-flex flex-column container-1 mr-4">
              <form [formGroup]="profileForm" (ngSubmit)="savePartnerData()">
                <div class="box-1">
                  <ng-container *ngIf="fields && fields.length > 0">
                    <ng-container *ngFor="let control of fields; let i = index">
                      <div [ngSwitch]="control.type">
                        <ng-container *ngSwitchCase="'textarea'">
                          <textarea
                            id="{{ control.label }}"
                            formControlName="{{ control.label }}"
                            name="{{ control.label }}"
                            class="form-control"
                            placeholder=" "
                          ></textarea>
                          <label>{{ control.label }}</label>
                        </ng-container>
                        <ng-container *ngSwitchCase="'number'">
                          <input
                            type="number"
                            id="{{ control.label }}"
                            formControlName="{{ control.label }}"
                            name="{{ control.label }}"
                            class="form-control"
                            placeholder=" "
                          />
                          <label>{{ control.label }}</label>
                        </ng-container>
                        <ng-container *ngSwitchCase="'dropdown'">
                          <select
                            id="{{ control.label }}"
                            formControlName="{{ control.label }}"
                            name="{{ control.label }}"
                            class="form-control"
                            placeholder=" "
                          >
                            <option
                              *ngFor="let option of control.options"
                              value="{{ option }}"
                            >
                              {{ option }}
                            </option>
                          </select>
                          <label>{{ control.label }}</label>
                        </ng-container>
                        <ng-container *ngSwitchCase="'url'">
                          <input
                            type="url"
                            id="{{ control.label }}"
                            formControlName="{{ control.label }}"
                            name="{{ control.label }}"
                            class="form-control"
                            placeholder=" "
                          />
                          <label>{{ control.label }}</label>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <input
                            type="text"
                            id="{{ control.label }}"
                            formControlName="{{ control.label }}"
                            name="{{ control.label }}"
                            class="form-control"
                            placeholder=" "
                          />
                          <label>{{ control.label }}</label>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                  
                </div>
                <div *ngIf="fields">
                  <button
                    class="button"
                    type="submit"
                    [ngClass]="profileForm.valid ? 'button' : 'button disabled'"
                    [disabled]="!profileForm.valid"
                  >
                    SAVE PROFILE
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  