<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column">
    <div class="align-self-left ml-5 pt-1 pb-2">
      <b>Food Profile</b>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column card mb-4 ml-5">
        <div class="card-body">
          <div
            formArrayName="profileItem"
            *ngFor="let item of profileItem.controls; let i = index"
          >
            <div class="inline-blocks mb-3">
              <input
                type="text"
                class="form-control"
                [formControlName]="i"
                placeholder="Label"
              />
              <span (click)="deleteItem(i)" class="cancel-button">
                <i class="bi bi-x-circle-fill"></i>
              </span>
              <small class="text-danger" id="errorMsg" *ngIf="showErrorMsg"
                >One input field is required</small
              >
            </div>
          </div>

          <div>
            <span (click)="addItem()" class="custom-color plus-button">
              <i class="bi bi-plus-circle-fill custom-color largeIcon"></i>
            </span>
          </div>
          <div class="align-self-center custom-color">
            <button class="button" [disabled]="!profileForm.valid">
              SAVE PROFILE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
