.plus-button {
    float: right;
    background: transparent;
    border: none;
    padding: 10px 10px;
  }
  
  .cancel-button {
    float: right;
    margin: -30px 10px 0 0;
    position: inherit;
    background: none;
    color: inherit;
    border: none;
  }
  
  .cancel-button:focus {
    outline: 0;
  }
  
  .save-button:disabled {
    background-color: #fab982;
  }
  
//   .save-button {
//     width: 235px;
//     background-color: #ff7800;
//     color: #fff;
//     border: none;
//     font-family: Roboto;
//   }
  
  .largeIcon {
    font-size: x-large;
  }
  
  .custom-color {
    color: #ff7800;
  }
  